.clients__list {
  display: flex;
  flex-wrap: wrap;
}
.clients__thumb {
  @media screen and (max-width:767px) {
    flex-basis: calc((100% - 30px) / 2);
  margin-right: var(--margin-right-item);
  &:nth-child(2n) {
    margin-right: 0;
  }
  &:not(:nth-last-child(-n + 2)) {
    margin-bottom: var(--margin-right-item);
  }
  }
  @media screen and (max-width:1199px) {
    flex-basis: calc((100% - 60px) / 3);
  &:not(:nth-child(3n)) {
    margin-right: var(--margin-right-item); 
    }
  &:not(:nth-last-child(-n + 3)) {
      margin-bottom: var(--margin-right-item);
    }
  }
   @media screen and (min-width:1200px) {
     flex-basis: calc((100% - 150px) / 6);
     margin-bottom: 0;
   &:not(:last-child) {
      margin-right: var(--margin-right-item);
   }
   }
}
.clients__thumb .link {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 92px;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  transition: border-color 250ms var(--timing-fun);
  &:hover,
  &:focus {
  border-color: var(--akcent-color);
}
}
.clients__icon {
  fill: #afb1b8;
  transition: fill 250ms var(--timing-fun);
  .clients__thumb .link:hover &,
  .clients__thumb .link:focus & {
  fill: var(--akcent-color);
}
}