.top-page {
  position: relative;
  border-bottom: 1px solid rgba(236, 236, 236, 1);
}
.top-page .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media screen and (max-width:767px) {
  .container_mobile {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 500;
    background-color: #ffffff;
    width: 100vw;
    height: 100vh;
    overflow: auto;
    transition: opasity 250ms var(--timing-fun), visibility 250ms var(--timing-fun) ;
  }
  .container_mobile.is-open {
    display: block;
  }
  .menu-container {
    position: relative;
    margin: 0 auto;
    padding-left: 48px;
    padding-right: 15px;
    padding-top: 48px;
    padding-bottom: 48px;
    @media screen and (min-width:480px) {
      width: 480px;
    }
  }
  .mobile-menu-btn, .mobile-menu-btn-close {
    padding: 0;
    background-color: transparent;
    border: none;
    line-height: 0;
    transition: color 250ms var(--timing-fun);
    &:hover {
      fill: var(--akcent-color);
      cursor: pointer;
    }
  }
  .mobile-menu-btn-close {
    position: absolute;
    top: 10px;
    right: 15px;
  }
}

.navigation__link {
  color: var(--add-textcolor);
}
.navigation__link,
.contacts .link {
  font-weight: 500;
  font-size: 40px;
  line-height: 1.18;
  letter-spacing: 0.02em; 
  transition: color 250ms var(--timing-fun);
}
.contacts {
  display: flex;
}
.contacts .link {
  color: var(--main-textcolor);
  &:hover,
  &:focus {
    color: var(--akcent-color);
  }
}
.navigation .link:hover,
.navigation .link:focus {
  color: var(--akcent-color);
}
.current {
  color: var(--akcent-color);
  position: relative;
}

@media screen and (max-width:767px) {
  .navigation__wrapper {
    margin-bottom: 302px;
  }
  .mobile-soc-links {
    display: flex;
  }
  .mobile-soc-links__link {
    font-weight: 500;
    font-size: 18px;
    line-height: 1.22;
    letter-spacing: 0.02em;
    color: inherit;
    transition: color 250ms var(--timing-fun);
    &:hover {
      color: var(--akcent-color);
    }
  }
  .mobile-soc-links__item {
    padding: 0 10px;
  }
  .mobile-soc-links__item:first-child  {
    padding-right: 10px;
    padding-left: 0;
  }
  .mobile-soc-links__item:last-child {
    padding-right: 0;
    padding-left: 10px;
  }
  .mobile-soc-links__item:not(:last-child) {
    border-right: 1px solid rgba(33, 33, 33, 0.2);
  }
  .navigation__item:not(:last-child) {
    margin-bottom: 32px;
  }
  .contacts__envelope,
  .contacts__smartphone {
    display: none;
  }
  .contacts {
    flex-direction: column-reverse;
    margin-bottom: 64px;
  }
  .contacts__item:last-child {
    margin-bottom: 32px;
  }
  .contacts__item .link {
    padding-top: 6px;
    padding-bottom: 6px;
  }
  .contacts__number-tel.link {
    font-size: 34px;
  }
  .contacts__e-mail.link {
    font-size: 24px;
    line-height: 1.16;
  }
}

@media screen and (min-width:768px) {
  .mobile-menu-btn, .mobile-menu-btn-close {
    display: none;
  }
  .mobile-soc-links {
    display: none;
  }
  .menu-container {
    display: flex;
    align-items: center;
  }
  .navigation__wrapper {
    display: flex;
  }
  .navigation__item:not(:last-child) {
    margin-right: var(--margin-right-nav);
  } 
  .navigation__item .link {
    display: block;
    padding: 32px 0;  
  }
  .navigation__link {
    font-size: 14px;
    line-height: 1.143;
  }
  .current::after {
    content: "";
    display: block;
    position: absolute;
    bottom: -1px;
    width: 100%;
    height: 4px;
    background-color: var(--akcent-color);
    border-radius: 2px;
    border-color: transparent;
  }  
  .contacts {
    flex-direction: column;
    margin-left: 84px; 
  }
  .contacts__item .link {
    display: flex;
    align-items: center;
    padding-top: 6px;
    padding-bottom: 6px; 
    font-size: 12px;
    line-height: 1.17;
  }
  .contacts__envelope,
  .contacts__smartphone {
    display: block;
    margin-right: 8px;
    fill: currentColor; 
  }
}

@media screen and (min-width:1200px) {
  .contacts {
    flex-direction: row;
    margin-left: 305px;
  }
  .contacts__item .link { 
    padding-top: 32px;
    padding-bottom: 32px;   
    font-size: 14px;
    line-height: 1.14;
  }
  .contacts__envelope,
  .contacts__smartphone {
    margin-right: 10px;
  }
  .contacts__item:not(:last-child) {
    margin-right: 30px;
  }
} 