.work {
  padding-bottom: var(--padding-section);
  @media screen and (max-width:1199px) {
    display: none;
  }
}
.work__wrapper {
  display: flex;
  flex-wrap: wrap;
  /* gap: 30px; 2 var*/
}
.work__item {
  position: relative;
  &:not(:last-child) {
    margin-right: 30px;
  }
}
.work__wrapper-title {
  position: absolute;
  bottom: 0;
  height: 70px;
  width: 370px;
  padding-top: 27px;
  background-color: #2f303acc;
}
.work__title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
}