.btn {
  min-width: 200px;
  padding: 10px 29px;
  color: #ffffff;
  background-color: var(--akcent-color);
  font-family: inherit;
  font-weight: 700;
  font-size: var(--main-font-size);
  line-height: 1.87;
  align-items: center;
  letter-spacing: 0.06em;
  cursor: pointer;
  border-color: transparent;
  border-radius: 4px;
  transition: background-color 250ms var(--timing-fun);
  &:hover,
  &:focus {
  background-color: #188ce8;
  }
}