:root {
    --akcent-color: #2196f3;
    --main-textcolor: #757575;
    --add-textcolor: #212121;
    --main-bgcolor: #2f303a;
    --main-font-size: 16px;
    --margin-right-item: 30px;
    --margin-right-nav: 50px;
    --padding-section: 60px;
    --timing-fun: cubic-bezier(0.4, 0, 0.2, 1);
  }